* {
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }

body {
    font-family: sans-serif;
    text-align: center;
    color: gainsboro;
    background: #777;
    width: 960px;
}

header {
    background-color: #ebebeb;
    color: black;
    padding: 6px;
    margin-bottom: 10px;
    height: 70px;
}

nav {
    background-color: #ebebeb;
    color: black;
    padding: 6px;
    margin-bottom: 10px;
    height: 70px;
}

section {
    background-color: #ebebeb;
    color: black;
    padding: 60px;
    width: 55.5%;
    margin-bottom: 10px;
    height: 280px;
    float: left;
/* overflow auto? */
}
article {
    background-color: #777;
    color: #ebebeb;
    width: 98.66%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 150px;
}
h1 {
    background-color: #ebebeb;
    color: black;
    width: 96.66%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    background-color: #ebebeb;
    color: black;
    width: 96.66%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
aside {
    background-color: #ebebeb;
    color: black;
    padding: 60px;
    width: 43.5%;
    margin-bottom: 10px;
    float: right;
    height: 280px;

}

footer {
    background-color: #ebebeb;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 302px;
}